<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
    <link rel="stylesheet" href="../style/bootstrap.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../style/login_register.css">
</head>
<body>
    <main>
        <div class="overlay"></div>
        <div>
            <div class="logo">
                <img src="../image/banner/logo.png" alt="" width="100px">
            </div>
            <div class="main">
                <div class="title">
                    Đăng ký
                </div>
                <form action="" method="post">
                    <input type="text" name="name" class="form-control" placeholder="Tên đăng nhập">
                    <input type="text" name="fullname" class="form-control" id="" placeholder="Họ và tên">
                    <input type="email" name="email" class="form-control" id="" placeholder="Email">
                    <input type="text" name="phone" class="form-control" id="" placeholder="Số điện thoại">
                    <input type="text" name="address" class="form-control" id="" placeholder="Địa chỉ">
                    <input type="password" name="password" id="" class="form-control" placeholder="Mật khẩu">
                    <button type="submit" class="btn btn-danger">Đăng ký</button>
                </form>
                <div class="footer">
                    <a href="#">Quên mật khẩu</a>
                    <a href="./login.html">Đăng nhập</a>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../js/jquery.js"></script>
<script src="../js/bootstrap.js"></script>
</html>