<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Sản Phẩm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../style/admin.css">
</head>
<body>
    <div class="notification">
        
    </div>
    <header>
        <div class="title">
            Quản Lý Bán Hàng
        </div>
        <div class="user position-relative dropdown">
            <a class="dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </header>
    <main>
        <div class="sidebar position-fixed" id="accordion">
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuRole" role="button" aria-expanded="true" aria-controls="collapseMenuRole">
                    <div class="sidebar-menu-icon"><i class="fas fa-columns"></i></div>
                    Quản Lý Vai Trò
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuRole" data-parent="#accordion">
                    <a href="./role.html">Vai Trò</a>
                    <a href="./addRole.html">Thêm Vai Trò</a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuUser" role="button" aria-expanded="true" aria-controls="collapseMenuUser">
                    <div class="sidebar-menu-icon"><i class="far fa-user"></i></div>
                    Quản Lý Tài Khoản
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuUser" data-parent="#accordion">
                    <a href="./user.html">Khách hàng</a>
                    <a href="./user.html">Nhân viên</a>
                    <a href="./addUser.html">Thêm tài khoản</a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuCategory" role="button" aria-expanded="true" aria-controls="collapseMenuCategory">
                    <div class="sidebar-menu-icon"><i class="fas fa-columns"></i></div>
                    Quản Lý Danh Mục
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuCategory" data-parent="#accordion">
                    <a href="./category.html">Danh Mục</a>
                    <a href="./addCategory.html">Thêm Danh Mục</a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuProduct" role="button" aria-expanded="true" aria-controls="collapseMenuProduct">
                    <div class="sidebar-menu-icon"><i class="fas fa-columns"></i></div>
                    Quản Lý Sản Phẩm
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuProduct" data-parent="#accordion">
                    <a href="./product.html">Sản Phẩm</a>
                    <a href="./addProduct.html">Thêm Sản Phẩm</a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuColor" role="button" aria-expanded="true" aria-controls="collapseMenuProduct">
                    <div class="sidebar-menu-icon"><i class="far fa-palette"></i></div>
                    Quản Lý Màu Sắc
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuColor" data-parent="#accordion">
                    <a href="./color.html">Màu Sắc</a>
                    <a href="./addColor.html">Thêm Màu Sắc</a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuSize" role="button" aria-expanded="true" aria-controls="collapseMenuProduct">
                    <div class="sidebar-menu-icon"><i class="fas fa-columns"></i></div>
                    Quản Lý Size
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuSize" data-parent="#accordion">
                    <a href="./size.html">Size</a>
                    <a href="./addSize.html">Thêm Size</a>
                </div>
            </div>
            <div class="sidebar-menu">
                <a class="d-flex position-relative align-items-center parent-menu collapsed" data-toggle="collapse" href="#collapseMenuOrder" role="button" aria-expanded="true" aria-controls="collapseMenuProduct">
                    <div class="sidebar-menu-icon"><i class="fas fa-columns"></i></div>
                    Quản Lý Hóa Đơn
                    <div class="sidebar-menu-arrow"><i class="fas fa-chevron-right"></i></div>
                </a>
                <div class="collapse child-menu" id="collapseMenuOrder" data-parent="#accordion">
                    <a href="./order.html">Hóa Đơn</a>
                    <a href="./statistics.html">Thống Kê</a>
                </div>
            </div>
            <div class="sidebar-footer position-absolute">
                Logged in:
                <div class="user-logged">
                    Dat Nguyen Van
                </div>
            </div>
        </div>
        <div class="main">
            <div class="card">
                <div class="card-header">
                    <h2>Thêm Mới Sản Phẩm</h2>
                </div>
                <div class="card-body">
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="productName">Tên Sản Phẩm:</label>
                                <input type="text" name="productName" id="productName" class="form-control" required>
                            </div>
                            <div class="col-5 form-group">
                                <label for="productImage">Hình Ảnh:</label>
                                <input type="file" name="productImage" id="productImage" class="form-control-file" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-group">
                                <label for="category">Danh Mục:</label>
                                <select name="category" id="category" class="form-control" required>
                                    <option value="0">--Chọn--</option>
                                    <option value="1">Áo nam</option>
                                    <option value="2">Quần nam</option>
                                    <option value="3">Phụ kiện</option>
                                </select>
                            </div>
                            <div class="col-5 form-group">
                                <label for="productPicture">Hình Ảnh Liên Quan:</label>
                                <input type="file" name="productPicture" id="productPicture" class="form-control-file" multiple>
                            </div>
                        </div>
                        <div class="container-category">
                        </div>
                        <div class="row">
                            <div class="form-group col-3">
                                <label for="price">Giá Tiền:</label>
                                <div class="input-group">
                                    <input type="text" name="price" id="price" class="form-control" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text">đ</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-3">
                                <label for="quantity">Số Lượng:</label>
                                <input type="number" name="quantity" id="quantity" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2 form-group">
                                <label for="size">Size:</label>
                                <select name="size" id="size" class="form-control" required multiple>
                                    <option value="0">--Chọn--</option>
                                    <option value="1">L</option>
                                    <option value="2">M</option>
                                </select>
                            </div>
                            <div class="col-2 form-group">
                                <label for="color">Color:</label>
                                <select name="color" id="color" class="form-control" required multiple>
                                    <option value="0">--Chọn--</option>
                                    <option value="1">Đen</option>
                                    <option value="2">Đỏ</option>
                                </select>
                            </div>
                            <div class="col-2 form-group">
                                <label for="status">Trạng Thái:</label>
                                <select name="status" id="status" class="form-control" disabled>
                                    <option value="1">Mới</option>
                                    <option value="2">Bán chạy</option>
                                    <option value="3">Bình thường</option>
                                    <option value="4">Hết hàng</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-10">
                                <label for="description">Mô Tả:</label>
                                <textarea name="description" id="description" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success">Thêm mới</button>
                        <button class="btn btn-primary save">Lưu</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../js/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="../js/admin.js"></script>
</html>